body {
    font-family: 'Roboto', helvetica, verdana;
}

#seccion_inicio {
    background-image: url('http://www.gifs-animados.es/wallpapers/wallpapers/espacio/wallpaper-espacio-1576382.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 100px;
    height: 670px;

}



#cv_foto {
    border-radius: 50%;
    width: 259px;
    height: 243px;
}

#seccion_inicio h1 {
    font-size: 40px;
    font-weight: lighter;
    text-transform: capitalize;
}

#seccion_inicio h2 {
    font-weight: bold;
}

#seccion_sobremi {
    margin-top: 50px;
    margin-bottom: 50px;
}
#seccion_sobremi canvas{

}

#seccion_sobremi h2 {
    color: blue;

    padding-top: 100px;
}
#particles_cv{
    position: absolute;
    margin: 0 auto;
    width: 95%;
}

#seccion_habilidades h2{
    text-align: center;
}
#seccion_hobbies .glyphicon {
    font-size: 50px;
}

#seccion_inicio * {
    color: white;
}

#seccion_hobbies {
    background-color: #000;
    color: white;
    padding:100px;
}

#seccion_hobbies h3 {
    color: black;
    font-family: fantasy;
    font-size: 30px;
}

#seccion_habilidades {
    padding-bottom: 100px;
    padding-top: 100px;
}
#seccion_skills{
    padding-top: 50px;
}

#seccion_skills .col-sm-4>div {
    background-color: skyblue;
    opacity: 0.80;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

#seccion_skills ul {
    list-style-type: none;
}

#seccion_habilidades .col-sm-4>h1, h2, h3, h4, h5 {
    color: white;
}

#seccion_contacto input {
    background-color: rgba(255, 255, 255, 0.5);
}

#seccion_habilidades {
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/28/01/52/280152f4017882616f8025f8690fbbd9.jpg');
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#seccion_habilidades {
    padding-top: 80px;
}

#seccion_social {
    background: deepskyblue;
    padding: 80px;
}

#seccion_social ul {
    list-style-type: none;
    margin: 0;
}

#seccion_social ul li {
    display: inline;
}

#seccion_social a {
    color: white;
}

#seccion_social ul li a:hover {
    text-decoration: none;
    color: white;
}

#seccion_social ul li a:hover i {
    background: #2D373D;
}

#seccion_social .btn {
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 5px #787878;
    padding: 20px 40px;
    color: black;
}

#seccion_social .btn:hover {
    background: #4b4b4b;
}

#seccion_social .fa {
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 20px;
}

#seccion_social .fa-twitter {
    padding: 10px 13px;
}

#seccion_social .fa-facebook {
    padding: 10px 20px;
}

#seccion_social .fa-google-plus {
    padding: 10px 7px;
}

#seccion_contacto {
    background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

#seccion_contacto .glyphicon {
    font-size: 30px;
}

#seccion_contacto p {
    font-size: 20px;
}

#seccion_contacto input, #seccion_contacto textarea {
    border-bottom: 5px aqua solid;
}

#seccion_contacto button {
    border-radius: 50px;
    background: aqua;
}

#seccion_hobbies {
    background: #5c258d;
    background: -webkit-linear-gradient(to left, #5c258d, #4389a2);
    background: linear-gradient(to left, white, skyblue, white);
}

#copyright {
    padding:20px;
    background-color: deepskyblue;
}

.navbar{
    margin: 0;
    border-radius: 0;
}

#mapa{
    margin-top: 50px;
}
#form{
    padding-top: 80px;
}

.accordion{
  max-width: 600px;
  margin: 4rem auto;
  width: 90%;
  background: #f4f4f4;
  border-radius: 10px;
}
.accordion__title{
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  background: blue;
  color: white;
  cursor: pointer;
  transition: .3s ease;
  margin: 0;
}
.accordion__title:hover{
  background: skyblue;
}

.accordion__body{
  display: none;
  padding: 1rem 1.5rem 2rem 1.5rem;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
}

.accordion__body--open{
  display: block;
}
#seccion_hobbies .glyphicon {
    font-size: 50px;
    color: white;
    padding-right: 30px;

}
