body{

  background: blue;
}
canvas{
  display:block;
  vertical-align:bottom;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
